
.auth-bar__container {
    width: 20%;
}

.auth-bar__content {
    display: flex;
    justify-content: left;
    align-items: baseline;
}

.auth-bar__items {
    width: 100%;
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
    background-color: white;
    box-shadow: 1px 1px 20px black;
    z-index: 1;
}

.auth-bar__items > ul {
    list-style: none;

}

.auth-bar__items > ul li {
    padding: 0.5rem;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    width: 100%;
    transition: all 0.2s ease-out;
}

.auth-bar__items > ul li:hover {
    background-color: rgb(180, 92, 33);
    color:white ;
}

.auth-bar__items > ul > a {
    text-decoration: none;
    color: rgb(180, 92, 33);
}

#auth-bar__hamburger {
    position: relative;
    cursor: pointer;
    font-size: 3rem;
    display: none;

}

/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {

    .auth-bar__container {
        width: 60%;
        box-shadow: none;
    }

    .auth-bar__items {
        width: 100%;
        left: 20%;
    }

    #auth-bar__hamburger {
        display: block;
        left: 10%;
    }

    
}
