.profile__content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile__unauthorized {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 92, 33);
    padding: 8rem;  
    width: 100%;
}

.profile__unauthorized > iframe {
    width: 384px;
    height: 283px;
}

.profile__unauthorized > p {
    font-size: 2rem;
    color: white;
    padding-top: 4rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {

    .profile__unauthorized {
        padding: 6rem 0rem;
    }

    .profile__unauthorized > iframe {
        width: 300px;
        height: 240px;
    }

    .profile__unauthorized > p {
        padding-top: 3rem;
    }
    
}
