.profile__content {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    padding: 3rem 0rem 15rem 0rem;
    background-color: rgb(180, 92, 33);
}

.profile__content > p {
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    padding-left: 20%;
    width: 80%;
}

.profile__unauthorized {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;  
    width: 100%;
}

.profile__unauthorized > iframe {
    width: 384px;
    height: 283px;
}

.profile__unauthorized > p {
    font-size: 2rem;
    color: white;
    padding-top: 4rem;
}

.profile__profile-info {
    margin-left: 14%;
    position: relative;
    border-radius: 0.5rem;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.profile__profile-info > ul {
    list-style: none;
}

.profile__profile-info > ul > li {
    color: white;
    font-size: 2rem;
    padding: 0.4rem;
}

.profile__auth-buttons {

    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__auth-buttons > button {
    margin: 2rem;
    cursor: pointer;
    border: none;
    padding: 1rem;
    font-size: 2rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {

    .profile__content {
        display: block;
    }

    .profile__unauthorized {
        padding: 5rem 0rem 0rem 0rem;
    }

    .profile__unauthorized > iframe {
        width: 300px;
        height: 240px;
    }

    .profile__unauthorized > p {
        padding-top: 3rem;
    }

    
    .profile__profile-info {
        padding: 1rem;
        width: 80%;
        margin-top: 1rem;
        margin-left: 10%;
    }

    .profile__profile-info > ul > li {
        font-size: 1.4rem;
    }
        
    .profile__auth-buttons {
        flex-direction: column;

    }

    .profile__auth-buttons > button {
        margin: 1rem;
    }
    
}
